@mixin param-button-search {
  color: white;
  background: $blue;
  border-start-start-radius: 0;
  border-bottom-left-radius: 0;
  padding: 17px;
  cursor: pointer;
  transition: all 0.5s;
}



                       
