@import "keyframes";
@import "variables";
@import "mixins";
@import "buttons";
@import "functions";
@import "media";

/* Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General */

body {
  min-width: 300px;
  font-family: $ff-text;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

/* Loader */

.loader {
  background: $linear-gradient;
  width: 100%;
  height: 100%;
  line-height: 100%;
  font-family: $ff-logo-title;
  vertical-align: middle;
  text-align: center;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  pointer-events: none;
  animation: loader 1s ease-in-out 2s forwards;

  .loader-logo {
    vertical-align: middle;
    position: fixed;
    top: 40%;
    text-align: center;
    width: 100vw;
    span {
      width: 5px;
      height: 20px;
      padding-right: 1em;
      -webkit-text-stroke-width: 1.25px;
      -webkit-text-stroke-color: #000;
      font-size: 50px;
      text-shadow: 0 0px $tertiary, 0 0px $tertiary;
      transform: translate(0, 100%) rotate(4deg);
      display: inline-block;
      font-family: $ff-logo-title;
      color: #fff;
      animation: jump 2s ease-in-out infinite;
    }
  }

  .loader-i {
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: rotate 1s linear infinite;
  }
}

/* header */

header {
  font-family: $ff-logo-title;
  @include param-head;
  box-shadow: 0 5px 5px 0 #ddd;
}

/* Main */

main {
  position: relative;
  top: 10px;
  .localisation {
    @include param-head;
    color: $bg-dark;
    padding: 10px;
    i {
      margin-right: 10px;
    }
  }

  .discover {
    background: $gray-light;
    height: 250px;
    h2 {
      text-align: center;
      padding-top: 40px;
      width: 280px;
      margin: 0 auto;
    }

    p {
      text-align: center;
      padding: 15px 0;
    }

    .explor {
      text-align: center;
      margin: 0 auto;
      padding: 15px 0;
      width: 200px;
      height: 50px;
      background: $linear-gradient;
      color: white;
      border-radius: 30px;
      cursor: pointer;
      box-shadow: 1px 1px 10px 0 $bg-dark;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  .operation {
    margin-bottom: 20px;
    h2 {
      @include param-h2;
    }

    .steps {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      div {
        &:hover {
          background: #fff;
          transition: all 0.5s;
          transform: scale(1.02);
          i {
            color: $primary;
          }
        }
        width: 250px;
        height: 50px;
        display: flex;
        flex-flow: row nowrap;
        background: $gray-light;
        padding: 15px 0;
        border-radius: 30px;
        box-shadow: 1px 1px 10px 0 $bg-dark;
        cursor: pointer;
        .step-number {
          text-align: center;
          width: 30px;
          height: 30px;
          border-radius: 50px;
          background: $primary;
          color: white;
          position: relative;
          top: -5px;
          left: -7px;
          padding-top: 5px;
        }

        i {
          padding-right: 20px;
        }
      }
    }
  }

  .restaurants {
    background: $gray-light;
    // margin-top: 50px;
    height: 800px;

    h2 {
      @include param-h2;
    }

    .all-restaurants {
      height: 620px;
      width: 630px;
      margin: 20px auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 25px;
      .restaurant {
        &:hover {
          transition: all 1s;
          transform: scale(1.03);
        }
        &:nth-child(1),
        &:nth-child(2) {
          @include param-new;
        }
        background: #fff;
        border-radius: 20px;
        height: 300px;
        width: 300px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
          "img"
          "img"
          "text";
        .img-restau {
          grid-area: img;
          border-top-right-radius: 20px;
          border-top-left-radius: 20px;
          width: 300px;
          height: 200px;
          object-fit: cover;
        }
      }

      .text {
        height: 100px;
        grid-area: text;
        display: flex;
        .presentation {
          display: block;
          width: 250px;
          padding: 25px 70px 20px 20px;
          h3 {
            text-decoration: none;
          }

          p {
            text-decoration: none;
          }
        }
        .heart {
          width: 50px;
          height: 50px;
          position: relative;
          top: 30%;
          &:hover {
            .fas {
              display: flex;
            }

            .far {
              display: none;
            }
          }
          i {
            font-size: 2.5rem;
            cursor: pointer;
          }
          .fas {
            color: transparent;
            background-image: $linear-gradient;
            background-clip: text;
            -webkit-background-clip: text;
            position: absolute;
            left: 0.4px;
            display: none;
          }
        }
      }
    }
  }
}

/* Footer */

footer {
  height: 120px;
  margin-top: 10px;
  background: $bg-dark;
  color: #fff;
  padding: 0 30px;
  h3 {
    font-family: $ff-logo-title;
    padding: 15px 0;
  }

  ul {
    width: 700px;
    list-style: none;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    li {
      a,
      i {
        padding-right: 5px;
        color: white;
      }
    }
  }
}
